.header {
  background-image: -webkit-gradient(linear,left top, left bottom,from(rgb(0, 0, 0, 0.7)),to(rgb(0, 0, 0, 0.7))),url(assets/images/2.jpg);
  background-image: linear-gradient(rgb(0, 0, 0, 0.7),rgb(0, 0, 0, 0.7)),url(assets/images/5.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  position: relative;
}
.row {
  max-width: 1140px;
  margin: 0 auto;
}
.header__text{
  position: absolute;
  text-align: center;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 1rem;
}
.header__primary{
  font-size: 4rem;
  color: #ccc;
  font-weight: 100;
  letter-spacing: 1px;
  word-spacing: 4px;
  margin-bottom: 1.6rem;
}
.header__secondary{
  font-size: 1.8rem;
  display: block;
  margin-bottom: 1.5rem;
  color: #ccc;
  font-weight: 100;
}
.header__btn:link,
.header__btn:visited{
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: rgba(77, 97, 209, 0.692);
  border: 1px solid #caf77649;
  border-radius: 30px;
  color: #fff;
  transition: all .2s;
}

.header__btn:hover,
.header__btn:active {
  background-color: rgba(77, 209, 158, 0.692);
  border: 1px solid #caf77649;
  transform: translateY(-3px);
}

.main {
  background-color: rgba(238, 238, 238, 0.2);
  padding: 2rem;
}
.main__row--text{
  margin-bottom: 1.5rem;
}
.main__row--radius{
  padding:5px;
  width: 9rem;
  border-radius: 4px;
  border: 1px solid  rgba(77, 97, 209, 0.692);
  margin-right: 2rem;
}
.main__row--radius:focus {outline: 0;}
.main__row--text{
  font-size: 1.5rem;
  font-weight: 300;
}
.main__btn--search{
  display: inline-block;
  padding: 4px 10px;
  font-size: 1rem;
  background-color: rgba(77, 97, 209, 0.747);
  border: 1px solid #caf77649;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.main__btn--search:focus{
  outline: 0;
}
.margin--b {
  margin-bottom: 2.5rem;
}

.display {
  border-radius: 4px;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: .8rem 0 .5rem #ccc
}
.display:not(:last-child) {
  margin-bottom: 1rem;
}

.main__results{
  font-size: 1rem;
  font-weight: 300;
  display: block;
}

.main__results:not(:last-of-type) {
  margin-bottom: 1rem;
}

@media only screen and (max-width:767px) {
  .header__primary{
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
  }
  .header__secondary{
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
}